<h1 align ="center"> Say Hai to your contacts</h1>
<br>
<h2>To visit and edit your contact !!</h2> 
<%= link_to "visit all contact", books_path %>
<h3> Create your Contact HERE!!!</h3>
<%= link_to "create account", new_book_path %>
<%= link_to "Female", books_female_path %>
<%= link_to "Male", books_male_path %>