<div class= "fpage">
<h1 align ="center"> Say Hi to your contacts </h1>
<br>
<h2 >To Visit & Edit Your Contact HERE !! 
<%= link_to "Visit All Contact", books_path %>
<br>
<br>
 Create Your Contact HERE!!
<%= link_to "Create", new_book_path %>
</h2>
</div>