header
{
	height:5em;
    background:#007065;
    width:100%;
    margin:0px;
    color: #EFFBFB;
    clear: both;
}

p
{
margin: 0px;
}
body
{
	background-color: #dcdcdc;
	margin: 0px;
    background-size: cover;
    margin :0px;
    height:100%;
}

.container
{
margin-left: 200px;
margin-right: 300px;
width: 700px;
}
.text
{
    margin-left: 150px;
    margin-right: 300px;
    color: #007065;
    line-height: 20px;
    font-family: arial;

}
footer
{
	height:3em;
    background:#007065;
    width:100%;
    margin:0px;
    color: #EFFBFB;
    clear: both;
    padding-top: 8px;
}
label
{
    width: 20em;
    float:left;
    text-align: right;
    margin-right: 2em;
    font-style: arial;
}
div.container img
{

margin: 0px;
float: left;
padding-top: 10px;
}
.al
{
    float: left;
     margin: 0px;
     width: 300px;
     font-size: 25px;
     font-family: arial;
     font-weight: bold;
     margin-top: 10px;
     margin-left: 100px;

}
.logo
{
    float: left;
}
.con
{
    margin-top: 15px;
}
.ar
{
    float: right;
    margin-left: 60px;
    margin: 0px;
    width: 400px;
    margin: 45px;
    font-family: arial;
    font-weight: bold;

}
.nalign
{
    font-family: arial;
    font-weight: bold;
    font-size: 19px;
    text-decoration: underline;
}
.nalign a
{
    color: #007065;
}
.fpage
{
    width: 700px;
    margin-left: 200px;
    margin-top: 90px;
    margin-bottom: 100px;
}
.fa
{
    float: left;
    width: 60px;
    margin-right: 10px;
}
#hh
 {
    white-space:pre-wrap
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
