header
{
	height:5em;
    background:#007065;
    width:100%;
    margin:0px;
    color: #EFFBFB;
}

p
{
margin: 0px;
}
body
{
	background-color: #dcdcdc;
	margin: 0px;
    background-size: cover;
    margin :0px;
    height:100%;
}

.img{
margin-left: 250px;
margin-right: 250px;
}
.text
{
    margin-left: 150px;
    margin-right: 250px;
    color: #007065;
    line-height: 20px;
    font-style: Comic Sans, Comic Sans MS, cursive
}
footer
{
	height:3em;
    background:#007065;
    width:100%;
    margin:0px;
    color: #EFFBFB;
    clear: both;
    padding-top: 8px;
}
label
{
    width: 20em;
    float:left;
    text-align: right;
    margin-right: 2em;
    font-style: arial;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
